!!!html5
%html
  %head
    %meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
    %link{:rel => 'icon', :href => asset_url('img/favicon.png')}

    /
      sassy-seeds light monochrome theme.
      https://github.com/matthewcopeland/sassy-seeds
    %link{:rel => 'stylesheet', :href => asset_url('sassy_seeds_light_theme.css')}

    %link{:rel => 'stylesheet', :href => asset_url('style.css')}

    %title GemJars - An Un-Holy Union

    :plain
      <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-33668420-1']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

      </script>


  %body
    %section
      %img{:src => asset_url('img/gemjarlogo-v2.png'), :alt => 'GemJars Logo', :class => 'logo'}
      %h1
        GemJars
      %small Bringing RubyGems to Java

      %article
        %p GemJars is a tool which allows you to include any gem hosted on RubyGems in your Java project.

        %p
          It currently supports build configurations using
          <a href="http://gradle.org/">Gradle</a> and <a href="http://ant.apache.org/ivy/">Ivy</a>.
          Experimental support for <a href="http://maven.apache.org/">Maven</a> and <a href="http://buildr.apache.org/">Buildr</a>
          is now available.

        %p
          The project itself uses GemJars heavily to build this site, the application and deploy to AWS.

        %p
          Examples to get you started:

        %ul
          %li
            %a{:href => "https://github.com/akiellor/gemjars-rspec-gradle"} Gradle RSpec Example
          %li
            %a{:href => "https://github.com/akiellor/gemjars-rspec-maven"} Maven RSpec Example

        %p
          Contact me via <a href="https://twitter.com/akiellor">twitter</a> or <a href="mailto:feedback@gemjars.org">email</a>


    %a{:href => "https://github.com/akiellor/gemjar", :id => "github-ribbon"}
      %img{:src   => "https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png",
           :alt   => "Fork me on GitHub"}
